/* Add a black background color to the top navigation */
.header {
    background-color: #050404;
    max-width: 1300px;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.header a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.header a:hover {
    background-color: #5c1116;
    color: white;
}

/* Add a color to the active/current link */
.header a.active {
    background-color: #04AA6D;
    color: #747474;
}

/* Home */
.HomePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border :5px solid #5c1116;
    max-width: 100%;
    height: auto;
}

.container-fluid {
    color: white;
    max-width: 1300px;
    padding: 20px;
    margin-right: 25px;
    margin-left: 25px;
    line-height: 22px;
    font-weight: bold;
    font-size: 18px;
}

.container-fluid > div {
    border :5px solid #5c1116;
    padding: 5px;
}

.col {
    padding: 5px;
}


/* Contact */
.container-fluid ul {
    overflow: hidden;
}

.container-fluid ul li {
    display: inline-block;
    margin-top: 10px;
}

.container-fluid ul li {
    padding-right: 0.6em;
}

.container-fluid ul li a:before {
    padding-right: 0.3em;
}

/* a href  color */
a:visited {
    color: #E74C3C;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #5c1116;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #747474;
    background-color: transparent;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
h1 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}